html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Optional: Hide scrollbars */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.instagramClone {
  text-align: start;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 17% 2% 50% 30%;
  
}
.instagramLine{
  width: 1px; 
  height: 100%; 
  background-color: rgb(189, 184, 184); 
  margin: 0 auto;
}

.instgramLeft_Name {
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 26px;
  font-style: lucida;
  font-weight: bolder;
}

.instagramLeft_More{
  padding-top: 30px;
  padding-bottom: 30px;
}

.instagramLeft_Links li, .instagramLeft_More li{
  display: flex;
  align-items: center;
  font-size: large;
  text-align: start;
  list-style-type: none;
  padding: 12px;
  padding-left: 17px;
  cursor: pointer;
}
.instagramLeft_Links li span, .instagramLeft_More li span{
  text-align: start;
  list-style-type: none;
  padding: 5px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI' sans-serif;
}

.instagramLeft_Links li .material-symbols-outlined , .instagramLeft_More .material-symbols-outlined{
  font-size: 32px; 
}

.instagramLeft_More {
  position: absolute;
  bottom: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24 ;
  width: 35px;
}

.instagramLeft_Links li:hover {
  background-color: rgb(219, 216, 219);
  border-radius: 6px;

}

.instagramLeft_Links li:hover .material-symbols-outlined  {
  transform: scale(1.1);
  font-size: 35px;

}